[workspace]
members = [
    "programs/anchor-amm-q4-25"
]
exclude = [
    "programs/.surfpool"
]
resolver = "2"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
